<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActiveSharp" version="1.2.0.0" targetFramework="net40-Client" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40-Client" />
  <package id="MvvmLight" version="4.1.23.0" targetFramework="net40-Client" />
  <package id="S3ToolKit.GameFiles" version="1.0.23.1" targetFramework="net40-Client" />
  <package id="S3ToolKit.MagicEngine" version="1.0.13.0" targetFramework="net40-Client" />
  <package id="S3ToolKit.Utils" version="1.0.15.1" targetFramework="net40-Client" />
  <package id="sharpcompress" version="0.8.1" targetFramework="net40-Client" />
</packages>